-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: athena
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ad_campaign_information`
--

DROP TABLE IF EXISTS `ad_campaign_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ad_campaign_information` (
  `Unnamed_0` text,
  `Campaign` text,
  `Clicks` text,
  `Conversions` text,
  `ROI` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ad_campaign_information`
--

LOCK TABLES `ad_campaign_information` WRITE;
/*!40000 ALTER TABLE `ad_campaign_information` DISABLE KEYS */;
INSERT INTO `ad_campaign_information` VALUES ('0','Campaign 1','1640','121','2.7654234257297863'),('1','Campaign 2','4466','144','4.791746212987244'),('2','Campaign 3','2933','56','3.010150853972923');
/*!40000 ALTER TABLE `ad_campaign_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `advertisement_focasting_data`
--

DROP TABLE IF EXISTS `advertisement_focasting_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advertisement_focasting_data` (
  `Unnamed_0` text,
  `Month` text,
  `Clicks` text,
  `Sales` text,
  `Marketing_Expenditure` text,
  `Price` text,
  `Competitor_Activity` text,
  `Seasonality` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advertisement_focasting_data`
--

LOCK TABLES `advertisement_focasting_data` WRITE;
/*!40000 ALTER TABLE `advertisement_focasting_data` DISABLE KEYS */;
INSERT INTO `advertisement_focasting_data` VALUES ('0','Jan','1000','800','5000','10.0','3.0','0.8'),('1','Feb','1200','850','6000','9.5','2.0','0.9'),('2','Mar','1300','900','5500','9.0','4.0','1.2'),('3','Apr','1400','950','5800','9.2','3.5','1.1'),('4','May','1250','1000','5700','9.3','3.0','1.0');
/*!40000 ALTER TABLE `advertisement_focasting_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `advertising_budget_estimation_based_on_highest_sales_occasion`
--

DROP TABLE IF EXISTS `advertising_budget_estimation_based_on_highest_sales_occasion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advertising_budget_estimation_based_on_highest_sales_occasion` (
  `Unnamed_0` text,
  `occasion` text,
  `sales` text,
  `ad_budget` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advertising_budget_estimation_based_on_highest_sales_occasion`
--

LOCK TABLES `advertising_budget_estimation_based_on_highest_sales_occasion` WRITE;
/*!40000 ALTER TABLE `advertising_budget_estimation_based_on_highest_sales_occasion` DISABLE KEYS */;
INSERT INTO `advertising_budget_estimation_based_on_highest_sales_occasion` VALUES ('0','New Year','12270','2638'),('1','Valentine\'s Day','5860','3169'),('2','Easter','10390','1466'),('3','Independence Day','18418','2238'),('4','Halloween','10191','1330'),('5','Thanksgiving','16964','2482'),('6','Christmas','16284','3135');
/*!40000 ALTER TABLE `advertising_budget_estimation_based_on_highest_sales_occasion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `advertising_campaigns_result`
--

DROP TABLE IF EXISTS `advertising_campaigns_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advertising_campaigns_result` (
  `date` text,
  `provider` text,
  `network` text,
  `account_id` text,
  `shortname` text,
  `campaign_start_date` text,
  `campaign_end_date` text,
  `brand` text,
  `free_field` text,
  `adset_name` text,
  `adset_group` text,
  `ad_name` text,
  `display_path` text,
  `ad_type` text,
  `device` text,
  `spend` text,
  `clicks` text,
  `imps` text,
  `conversions` text,
  `sessions` text,
  `users` text,
  `new_users` text,
  `page_views` text,
  `Sales` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advertising_campaigns_result`
--

LOCK TABLES `advertising_campaigns_result` WRITE;
/*!40000 ALTER TABLE `advertising_campaigns_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `advertising_campaigns_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `allocated_budget`
--

DROP TABLE IF EXISTS `allocated_budget`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `allocated_budget` (
  `Unnamed_0` text,
  `Channel` text,
  `Expected_Return` text,
  `Cost` text,
  `Allocated_Budget` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allocated_budget`
--

LOCK TABLES `allocated_budget` WRITE;
/*!40000 ALTER TABLE `allocated_budget` DISABLE KEYS */;
INSERT INTO `allocated_budget` VALUES ('0','SEO','10000','2000','10000'),('1','PPC','15000','3000','10000'),('2','Email','8000','1500','10000'),('3','Social Media','12000','2500','10000'),('4','Affiliate','7000','1000','10000');
/*!40000 ALTER TABLE `allocated_budget` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attribution_model_and_roi_analysis`
--

DROP TABLE IF EXISTS `attribution_model_and_roi_analysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attribution_model_and_roi_analysis` (
  `Unnamed_0` text,
  `Date` text,
  `Channel` text,
  `Clicks` text,
  `Conversions` text,
  `Attributed_Conversions` text,
  `ROI` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attribution_model_and_roi_analysis`
--

LOCK TABLES `attribution_model_and_roi_analysis` WRITE;
/*!40000 ALTER TABLE `attribution_model_and_roi_analysis` DISABLE KEYS */;
/*!40000 ALTER TABLE `attribution_model_and_roi_analysis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audience_segmentation_and_personlization`
--

DROP TABLE IF EXISTS `audience_segmentation_and_personlization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audience_segmentation_and_personlization` (
  `Unnamed_0` text,
  `User_ID` text,
  `Age` text,
  `Gender` text,
  `Interests` text,
  `Online_Behavior` text,
  `Segment` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audience_segmentation_and_personlization`
--

LOCK TABLES `audience_segmentation_and_personlization` WRITE;
/*!40000 ALTER TABLE `audience_segmentation_and_personlization` DISABLE KEYS */;
INSERT INTO `audience_segmentation_and_personlization` VALUES ('0','1','25','Male','Technology','Frequent online shopper','Segment A'),('1','2','35','Female','Fashion','Active social media user','Segment A'),('2','3','45','Male','Sports','Sports enthusiast','Segment A'),('3','4','30','Female','Technology','Tech enthusiast','Segment A'),('4','5','40','Male','Food','Foodie','Segment A');
/*!40000 ALTER TABLE `audience_segmentation_and_personlization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billboard_content_management_based_on_customer_visits`
--

DROP TABLE IF EXISTS `billboard_content_management_based_on_customer_visits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `billboard_content_management_based_on_customer_visits` (
  `Unnamed_0` text,
  `Customer_ID` text,
  `Location` text,
  `Visit_Date` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billboard_content_management_based_on_customer_visits`
--

LOCK TABLES `billboard_content_management_based_on_customer_visits` WRITE;
/*!40000 ALTER TABLE `billboard_content_management_based_on_customer_visits` DISABLE KEYS */;
INSERT INTO `billboard_content_management_based_on_customer_visits` VALUES ('0','1','Times Square','2023-04-01T00:00:00.000'),('1','2','Downtown LA','2023-04-02T00:00:00.000'),('2','3','Millennium Park','2023-04-03T00:00:00.000'),('3','4','Pike Place Market','2023-04-04T00:00:00.000'),('4','5','Space Needle','2023-04-05T00:00:00.000'),('5','1','Times Square','2023-04-15T00:00:00.000'),('6','2','Downtown LA','2023-04-16T00:00:00.000'),('7','3','Millennium Park','2023-04-17T00:00:00.000'),('8','4','Pike Place Market','2023-04-18T00:00:00.000'),('9','5','Space Needle','2023-04-19T00:00:00.000');
/*!40000 ALTER TABLE `billboard_content_management_based_on_customer_visits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campaign_analysis`
--

DROP TABLE IF EXISTS `campaign_analysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campaign_analysis` (
  `Product` text,
  `Campaign_A` text,
  `Campaign_B` text,
  `Campaign_C` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campaign_analysis`
--

LOCK TABLES `campaign_analysis` WRITE;
/*!40000 ALTER TABLE `campaign_analysis` DISABLE KEYS */;
INSERT INTO `campaign_analysis` VALUES ('Product A','30','40','20'),('Product B','40','30','25'),('Product C','20','25','30');
/*!40000 ALTER TABLE `campaign_analysis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campaign_available_data`
--

DROP TABLE IF EXISTS `campaign_available_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campaign_available_data` (
  `Unnamed_0` text,
  `Campaign_ID` text,
  `Campaign_Name` text,
  `Date` text,
  `Location` text,
  `Price` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campaign_available_data`
--

LOCK TABLES `campaign_available_data` WRITE;
/*!40000 ALTER TABLE `campaign_available_data` DISABLE KEYS */;
INSERT INTO `campaign_available_data` VALUES ('0','1','New Year Bash','2024-01-01','New York','100'),('1','2','Valentine\'s Day Special','2024-02-14','Paris','150'),('2','3','Summer Festival','2024-06-21','London','80'),('3','4','Halloween Night','2024-10-31','Los Angeles','120'),('4','5','Christmas Extravaganza','2024-12-25','Sydney','200');
/*!40000 ALTER TABLE `campaign_available_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cost_analysis_for_decision_making`
--

DROP TABLE IF EXISTS `cost_analysis_for_decision_making`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cost_analysis_for_decision_making` (
  `Unnamed_0` text,
  `product` text,
  `current_cost` text,
  `incremental_cost` text,
  `opportunity_cost` text,
  `sunk_cost` text,
  `differential_cost` text,
  `relevant_cost` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cost_analysis_for_decision_making`
--

LOCK TABLES `cost_analysis_for_decision_making` WRITE;
/*!40000 ALTER TABLE `cost_analysis_for_decision_making` DISABLE KEYS */;
INSERT INTO `cost_analysis_for_decision_making` VALUES ('0','Product A','472','22','21','61','473','43'),('1','Product B','199','41','15','71','225','56'),('2','Product C','459','40','11','93','488','51'),('3','Product D','251','21','10','74','262','31');
/*!40000 ALTER TABLE `cost_analysis_for_decision_making` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `datafusion_data`
--

DROP TABLE IF EXISTS `datafusion_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `datafusion_data` (
  `Unnamed_0_1` text,
  `Unnamed_0` text,
  `TV_Ad_Budget_` text,
  `Radio_Ad_Budget_` text,
  `Newspaper_Ad_Budget_` text,
  `Sales_` text,
  `TV` text,
  `Radio` text,
  `Newspaper` text,
  `Sales` text,
  `TV_1` text,
  `Billboards` text,
  `Google_Ads` text,
  `Social_Media` text,
  `Influencer_Marketing` text,
  `Affiliate_Marketing` text,
  `Product_Sold` text,
  `Cluster` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `datafusion_data`
--

LOCK TABLES `datafusion_data` WRITE;
/*!40000 ALTER TABLE `datafusion_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `datafusion_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `immerive_analytics_with_advertisement_data`
--

DROP TABLE IF EXISTS `immerive_analytics_with_advertisement_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `immerive_analytics_with_advertisement_data` (
  `Unnamed_0` text,
  `Ad_ID` text,
  `Clicks` text,
  `Views` text,
  `CTR` text,
  `Revenue` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `immerive_analytics_with_advertisement_data`
--

LOCK TABLES `immerive_analytics_with_advertisement_data` WRITE;
/*!40000 ALTER TABLE `immerive_analytics_with_advertisement_data` DISABLE KEYS */;
INSERT INTO `immerive_analytics_with_advertisement_data` VALUES ('2','3','960','8869','0.0766781014275285','3976.752742034623'),('3','4','370','7439','0.1476614955832653','5974.88470151941'),('4','5','206','8892','0.0911037013318231','6150.632222537545'),('0','1','202','8629','0.0648086929953399','7729.468965076725'),('1','2','535','2016','0.1497740485048941','9577.646623215578');
/*!40000 ALTER TABLE `immerive_analytics_with_advertisement_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personalized_advertisement_and_customer_segmentation_data`
--

DROP TABLE IF EXISTS `personalized_advertisement_and_customer_segmentation_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personalized_advertisement_and_customer_segmentation_data` (
  `Unnamed_0` text,
  `Customer_ID` text,
  `Age` text,
  `Gender` text,
  `Location` text,
  `Purchase_History` text,
  `Social_Media_Activity` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personalized_advertisement_and_customer_segmentation_data`
--

LOCK TABLES `personalized_advertisement_and_customer_segmentation_data` WRITE;
/*!40000 ALTER TABLE `personalized_advertisement_and_customer_segmentation_data` DISABLE KEYS */;
INSERT INTO `personalized_advertisement_and_customer_segmentation_data` VALUES ('0','1','25','Male','New York','Electronics,Clothing','Facebook,Twitter'),('1','2','35','Female','Los Angeles','Home Appliances','Instagram'),('2','3','42','Male','Chicago','Sports Equipment,Clothing','Facebook,LinkedIn'),('3','4','28','Female','Seattle','Electronics,Books','Twitter,Instagram'),('4','5','31','Male','Houston','Furniture','Facebook');
/*!40000 ALTER TABLE `personalized_advertisement_and_customer_segmentation_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prioritized_activities_by_roi`
--

DROP TABLE IF EXISTS `prioritized_activities_by_roi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prioritized_activities_by_roi` (
  `Unnamed_0` text,
  `Activity` text,
  `Expected_Return` text,
  `Cost` text,
  `ROI` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prioritized_activities_by_roi`
--

LOCK TABLES `prioritized_activities_by_roi` WRITE;
/*!40000 ALTER TABLE `prioritized_activities_by_roi` DISABLE KEYS */;
INSERT INTO `prioritized_activities_by_roi` VALUES ('2','Ad Campaign 3','8000','1500','5.333333333333333'),('0','Ad Campaign 1','10000','2000','5.0'),('1','Ad Campaign 2','15000','3000','5.0'),('3','Ad Campaign 4','12000','2500','4.8');
/*!40000 ALTER TABLE `prioritized_activities_by_roi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_and_advertisement_data`
--

DROP TABLE IF EXISTS `product_and_advertisement_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_and_advertisement_data` (
  `Unnamed_0` text,
  `Product_ID` text,
  `Product_Name` text,
  `Category` text,
  `Price` text,
  `Ad_ID` text,
  `Ad_Name` text,
  `Campaign_Budget` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_and_advertisement_data`
--

LOCK TABLES `product_and_advertisement_data` WRITE;
/*!40000 ALTER TABLE `product_and_advertisement_data` DISABLE KEYS */;
INSERT INTO `product_and_advertisement_data` VALUES ('0','1','Laptop','Electronics','1000','101','Back to School Sale','5000'),('1','2','Smartphone','Electronics','800','102','Summer Tech Deals','3000'),('2','3','Headphones','Electronics','200','103','Holiday Specials','2000'),('3','4','Smartwatch','Wearable','300','104','New Year Discounts','4000'),('4','5','Tablet','Electronics','500','105','Spring Clearance','3500');
/*!40000 ALTER TABLE `product_and_advertisement_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_differentiation_based_on_the_consumer_purchase`
--

DROP TABLE IF EXISTS `product_differentiation_based_on_the_consumer_purchase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_differentiation_based_on_the_consumer_purchase` (
  `Unnamed_0` text,
  `date` text,
  `product` text,
  `customer_id` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_differentiation_based_on_the_consumer_purchase`
--

LOCK TABLES `product_differentiation_based_on_the_consumer_purchase` WRITE;
/*!40000 ALTER TABLE `product_differentiation_based_on_the_consumer_purchase` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_differentiation_based_on_the_consumer_purchase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_quality_analysis_dasboard_data`
--

DROP TABLE IF EXISTS `product_quality_analysis_dasboard_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_quality_analysis_dasboard_data` (
  `Unnamed_0` text,
  `ProductID` text,
  `Rating` text,
  `Review` text,
  `Sales` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_quality_analysis_dasboard_data`
--

LOCK TABLES `product_quality_analysis_dasboard_data` WRITE;
/*!40000 ALTER TABLE `product_quality_analysis_dasboard_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_quality_analysis_dasboard_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_sales_and_revenu_data`
--

DROP TABLE IF EXISTS `product_sales_and_revenu_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_sales_and_revenu_data` (
  `Unnamed_0` text,
  `Month` text,
  `Product_A_Sales` text,
  `Product_B_Sales` text,
  `Product_C_Sales` text,
  `Product_A_Ads` text,
  `Product_B_Ads` text,
  `Product_C_Ads` text,
  `Product_A_Revenue` text,
  `Product_B_Revenue` text,
  `Product_C_Revenue` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_sales_and_revenu_data`
--

LOCK TABLES `product_sales_and_revenu_data` WRITE;
/*!40000 ALTER TABLE `product_sales_and_revenu_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_sales_and_revenu_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_status`
--

DROP TABLE IF EXISTS `production_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `production_status` (
  `Unnamed_0` text,
  `Product` text,
  `Production_Status` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_status`
--

LOCK TABLES `production_status` WRITE;
/*!40000 ALTER TABLE `production_status` DISABLE KEYS */;
INSERT INTO `production_status` VALUES ('0','Product A','On Track'),('1','Product B','Delayed'),('2','Product C','On Track');
/*!40000 ALTER TABLE `production_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `revenu_prediction_for_30_days`
--

DROP TABLE IF EXISTS `revenu_prediction_for_30_days`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `revenu_prediction_for_30_days` (
  `Unnamed_0` text,
  `Date` text,
  `Predicted_Revenue` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `revenu_prediction_for_30_days`
--

LOCK TABLES `revenu_prediction_for_30_days` WRITE;
/*!40000 ALTER TABLE `revenu_prediction_for_30_days` DISABLE KEYS */;
/*!40000 ALTER TABLE `revenu_prediction_for_30_days` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_kpi_calculators`
--

DROP TABLE IF EXISTS `sales_kpi_calculators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_kpi_calculators` (
  `Unnamed_0` text,
  `Sales_Record` text,
  `Units_Sold` text,
  `Revenue` text,
  `Advertising_Cost` text,
  `Campaign_Day` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_kpi_calculators`
--

LOCK TABLES `sales_kpi_calculators` WRITE;
/*!40000 ALTER TABLE `sales_kpi_calculators` DISABLE KEYS */;
/*!40000 ALTER TABLE `sales_kpi_calculators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers_performance`
--

DROP TABLE IF EXISTS `suppliers_performance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suppliers_performance` (
  `Unnamed_0` text,
  `Supplier` text,
  `Performance_Rating` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers_performance`
--

LOCK TABLES `suppliers_performance` WRITE;
/*!40000 ALTER TABLE `suppliers_performance` DISABLE KEYS */;
INSERT INTO `suppliers_performance` VALUES ('0','Supplier X','4'),('1','Supplier Y','3'),('2','Supplier Z','1');
/*!40000 ALTER TABLE `suppliers_performance` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-07 17:19:21
